* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}

.card button {
    background-color: #1b1e24;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.container button {
    background-color: #1b1e24;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}



.card, .card3{
	 position: relative;
  z-index: 1;
   background: #f2f2f2;
  max-width: 100%; 
  padding: 5%;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.card-title{
	font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: bold
	
}
.card-text {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 16px;
}

#bookEquimentTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#bookEquimentTable td, #bookEquimentTable th {
    border: 1px solid #1b1e24;
    padding: 8px;
}

#bookEquimentTable tr:nth-child(even){background-color: #f2f2f2;}

#bookEquimentTable tr:hover {background-color: #1b1e24;}

#bookEquimentTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1b1e24;
    color: white;
}


