<h3>Step 4 - Checkout</h3>
	<div class="container">
		<form id="contact">
			<h4>Please fill details for checkout</h4>
		    <fieldset>
		      <input placeholder="Your name" id="username" type="text" tabindex="1" required autofocus>
		    </fieldset>
		    <fieldset>
		      <input placeholder="Your Email" id="useremail" type="email" tabindex="2" required>
		    </fieldset>
		    <fieldset>
		      <input placeholder="Your Phone Number" id="userphone" type="tel" tabindex="3" required>
		    </fieldset>
		    <fieldset>
		      <input placeholder="Your Address" id="useraddress" type="text" tabindex="4" required>
		    </fieldset>
		    <fieldset>
		      <select tabindex="5" required>
		      
		  <option style="color:#888" value="0" disabled selected hidden>Payment Method</option>
		        <option value="1">Cash</option>
		  <option value="2">Net Banking</option>
		  <option value="3">Credit/Debit Card</option>
		  <option value="4">PayTM</option>
		        
		      </select>
		
		    </fieldset>
		    <fieldset>
		      <button name="submit" type="button" id="contact-submit" data-submit="...Sending" onclick="submitStep4(4)"">Submit</button>
		    </fieldset>
			
		</form>
	</div>
