<h3>Step 2 - Book Room</h3>
 <div class="container">
 	<form id="contact">
	<div class="card">
	  <img class="card-img-top" src="#" alt="Card image cap">
	  {{#.}}
	  	<h3 class="card-text">{{roomName}}</h3><br/>
	  	{{/.}}
	  <div class="card-body">
	  	<label> Date: <input type="date" id="tbdate" name="tbdate" placeholder="tbdate"> </label> <br/>
	<label> Type: 
		<select onchange="typeCheck(this);" id="type" name="type">
			<option style="color:#888" value="0" disabled selected hidden>Type of Booking</option>
   			<option value=3>Full Day</option>
   			<option value=2>Half Day</option>
   			<option value=1>Per Hour</option>
 		</select>
 	</label> <br/>
 	
 	<div id="halfday" style="display: none;">
    	<label> Chose slot: 
    		<select id="slot" name="slot">
   				<option value="morning">9 AM TO 1 PM</option>
   				<option value="afternoon">2 PM to 6 PM</option>
 			</select>
 		</label> <br/>
    </div>
    
    <div id="perhour" style="display: none;">
    	<label> From Time: <input type="time" id="fromtime" name="fromtime" placeholder="fromtime"> </label>
		<label> To Time: <input type="time" id="totime" name="totime" placeholder="totime"> </label>
    </div>
	  <button type="button" onclick="submitStep2(2)">Next</button>
	  	
	  </div>
	</div>
	</form>
 </div>
 <script type="text/javascript" src="js/common.js"></script>
