<table class=tbl border="1px solid black">
<tr>
	<th>Image</th>
	<th>Room</th>
	<th>Capacity</th>
	<th>Status</th>
	<th>Options</th>
</tr>
{{#.}}
<tr>
<td><img src="{{imgSrc}}" width="250px" height="250px" alt="Panoramic Room"></td>
<td>{{name}}</td>
<td> {{capacity}}</td>
<td> {{status}}</td>
<td>
	<div>
		<button type="button" name="{{id}}" class="deleteRoom btn btn-primary" onclick='deleteRoom("{{id}}")'>Delete</button><br/>
		<button type="button" name="{{id}}" class="changeRoomStatus btn btn-primary" onclick='changeRoomStatus("{{id}}")'>Switch</button>
	</div>
</td>
</tr>
{{/.}}
</table>