
<table class=tbl border="1px solid black">

<tr>
	<th>Name</th>
	<th>Email</th>
	<th>Registration Date/Time</th>
	<th>Status</th>
	<th>Options</th>
</tr>

{{#.}}

<tr class=tbl-content>
<td>{{name}}</td>
<td> {{email}}</td>
<td> {{registrationDate}}</td>
<td> {{status}}</td>
<td>
	<div class=tbl-btn>
	<button type="button" name="{{email}}" class="deleteUser" onclick='deleteAdmin("{{email}}")'>Delete</button><br/>
	<button type="button" name="{{email}}" class="changeUserStatus" onclick='changeAdminStatus("{{email}}")'>Switch</button>
	</div>
</td>
</tr>
{{/.}}

</table>
